@model  HomeViewModel

<partial name="_Carousel" />

<h2>Pies Of The Week</h2>
<h4>Our Weekly selection just for you</h4>

<div class="row">
    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }
</div>
